footer {
    padding: 36px 70px;
    display: flex;
    //margin-top: -100px;

    .footer-infos {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        margin-right: 16px;

        span {
            display: block;
            font-family: 'interstate', sans-serif;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        p {
            margin: 0;
            font-family: 'futura', sans-serif;
            line-height: 25px;
        }
    }

    .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .footer-list {
            display: flex;
            flex-direction: column;
            margin-right: 8px;

            a {
                margin-bottom: 10px;
                font-family: 'futura', sans-serif;
                font-size: 20px;
                margin-bottom: 10px;
                color: #FF9248;
            }
            &:last-child {
                margin-right: 0;
            }
            .footer-list-title {
                display: block;
                font-family: 'interstate', sans-serif;
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 30px;
            }
            span {
                font-family: 'futura', sans-serif;
                font-size: 20px;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            .tisseur2toiles {
                text-decoration: none;
                color: purple;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: 1200px) {
    footer {
        padding: 50px;
    }
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;

        .footer-infos {
            max-width: none;
            align-items: center;
            margin-bottom: 32px;
        }
    }
}

@media screen and (max-width: 650px) {
    footer {
        padding-bottom: 200px;
    }
}