.it-card {
    max-width: 85vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 10px;
    border: solid 1px #FF9248;
    box-shadow: 0px 3px 10px #00000029;
    padding: 8px 70px 8px 0px;
    
    img {
        border-radius: 5px;
        min-width: 100px;
        transform: scale(2.2);
    }

    .it-card-content {
        display: flex;
        align-items: center;
        margin-left: 56px;
        
        .it-card-text {
            margin-left: 10px;    
            h2 {
                font-family: 'interstate', sans-serif;
                font-size: 4vh;
                text-align: center;
                width: 100%;
            }
            h3 {
                text-align: center;
                font-family: 'interstate', sans-serif;
                font-size: 1.8vh;
                text-decoration: underline;
            }
            p {
                font-size: 1.4vh;
                font-family: 'futura', sans-serif;
            }
        } 
    }
}

// RESPONSIVE
@media screen and (max-width: 1500px) {
    .it-card {
        .it-card-text {
            flex-direction: column;

            span {
                margin-bottom: 6px;
                margin-right: 0;
                max-width: none;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .it-card {
        .it-card-text {
            flex-direction: row;

            span {
                margin-bottom: 0;
                margin-right: 24px;
                max-width: 260px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .it-card {
        .it-card-text {
            flex-direction: column;

            span {
                margin-bottom: 6px;
                margin-right: 0;
                max-width: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .it-card {
        flex-direction: column;
        margin-top: 40px;

        img {
            width: 50px;
            margin-left: 20%;
        }

        .it-card-text {
            margin-top: 30px;
            margin-left: 0;

            p {
                text-align: center;
            }
        }
    }
}