// REPARATION SECTION
.reparation-section {
    height: 100%;
    max-height: 750px;
    padding: 140px 270px;
    display: flex;
    justify-content: center;

    .reparation-section-text {
        width: 45%;

        h1 {
            font-size: 45px;
            font-family: 'interstate', sans-serif;
            font-weight: 600;
            width: 100%;
            max-width: 550px;
            margin-top: 0;
            margin-bottom: 12px;
        }
        p {
            font-family: 'futura', sans-serif;
            font-size: 25px;
            width: 100%;
            max-width: 650px;
            margin: 0;
            margin-bottom: 26px;
            line-height: 33px;
        }
        .primary {
            font-family: 'interstate', sans-serif;
            font-weight: 600;
        }
    }

    .vertical-line{
        border-left: 2px solid #000;
        display: inline-block;
        height: 30vh;
        margin: 0 20px;
    }

    .brand-reparation {
        margin-left: 2vw;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        img {
            margin: 0 8px 8px 8px;
            width: 150px;

            &:first-child {
                height: 36px;
                margin-left: 0;
            }
            &:last-child {
                width: 80px;
                margin-right: 0;
            }
        }
    }
}

// DIAGNOSTIC SECTION
.diagnostic-section {
    padding: 0 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .diagnostic-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 30%;
        margin-right: 60px;
        margin-left: 60px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        .diagnostic-icon {
            display: flex;
            padding: 20px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 3px 10px #FF92488E;
            margin-bottom: 18px;

            img {
                width: 80px;
            }
            &.green {
                box-shadow: 0px 3px 10px #6ED55BA3;
            }
        }
        span {
            display: block;
            font-family: 'interstate', sans-serif;
            font-size: 45px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 26px;
            line-height: 54px;
        }
        p {
            margin: 0;
            text-align: center;
            font-family: 'futura', sans-serif;
            font-size: 25px;
            line-height: 33px;
        }
    }
}

// CONTACT SECTION
.contact-section {
    padding: 0 100px 0px 100px; //ou 140px fct ecran
    background-image: 
    linear-gradient(
        to bottom,
        white 10%,
        transparent 50%
    ),
    url("/img/contact-img.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 20vh;
}

// RESPONSIVE
@media screen and (max-width: 1700px) {
    .reparation-section {
        padding: 100px 150px;
    }
    .brand-reparation-section {
        margin: 0 70px 100px 70px;
    }
}

@media screen and (max-width: 1400px) {
    .reparation-section {
        padding: 100px 70px;
    }
    .diagnostic-section {
        padding: 0 70px;
    }
}

@media screen and (max-width: 1300px) {
    .contact-section {
        .sub-offers {
            flex-direction: column;
            align-items: center;

            .sub-offers-infos {
                max-width: 800px;
                margin-bottom: 100px;

                .sub-offers-title {
                    text-align: center;

                    .circled-word {
                        margin: auto;
                    }
                }
                .primary {
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .contact-section {
        .sub-offers {
            .sub-offers-cards {
                .sub-card {
                    .sub-card-better {
                        right: -175px;
                        left: unset;
                        align-items: flex-start;

                        img {
                            transform: rotate(75deg);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .diagnostic-section {
        flex-direction: column;
        align-items: center;

        .diagnostic-block {
            margin: 0;
            margin-bottom: 60px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .brand-reparation-section {
        .brand-reparation {
            justify-content: center;

            img {
                margin: 0 16px 16px 16px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact-section {
        .sub-offers {
            .sub-offers-infos {
                margin-right: 0;
            }
            .sub-offers-cards {
                flex-direction: column;
                align-items: center;

                .sub-card {
                    &.active {
                        margin-bottom: 60px;
                    }
                    .sub-card-better {
                        top: -40px;
                        right: unset;
                        align-items: flex-end;

                        img {
                            transform: rotate(-100deg);
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}